{% extends 'MyApp/base0.html' %}

{% block body_block %}

    <form action="{% url 'MyAppIADS:placeorder' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="row"><p style="font-size: 50px;">图书订购</p></div>
        <div class="row" style="margin-top: 5%">
            <div class="col-md-5"><label style="font-size: 30px">书名</label>{{ form.books }}</div>
            <div class="col-md-3"><label style="font-size: 30px">成员信息</label>{{form.member}}</div>
            <div class="col-md-3"><label style="font-size: 30px">订购类型</label>{{ form.order_type }}</div>

        </div>
        <input type="submit" class="btn btn-primary btn-lg" name="submit2" value="Place order" style="margin-left: 42%;"/>
    </form>

{% endblock %}
